section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .div1{
    background: linear-gradient(#BDFBF8,#31B4AE);
     width: 100%;
    height: 70px;
    text-align: center;
    text-shadow: 0 3px 10px rgb(255, 255, 255) ;
    padding-top: 15px;
}
.bt{
  background-color: azure;
  
}