<body>
  <div class="container-fluid">
    <nav>
      <img
        class="img"
        src="https://i.pinimg.com/originals/13/ac/86/13ac865516038308a176f8ab8fba2737.png"
        alt="logo"
      />
      <label class="logo">Shree Ganesh Finance</label>
      <ul class="nav">
        <li><a class="li" href="#">Home</a></li>
        <li><a class="li" routerLink="emical">EMI Calculator</a></li>
        <li><a class="li" routerLink="about">About</a></li>
        <li><a class="li" href="#">Contact</a></li>
        <li></li>
        <li><a class="li" routerLink="login">LogIn</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
