<div class="div1">
  <p class="display-6 headingFont">Shree Ganesh Finance Car Loan</p>
<br>
<br>
  <div class="container">
    <div class="column1">
      <nav>
        <img
          class="photo"
          src="https://img.freepik.com/free-vector/car-finance-concept-illustration_114360-8258.jpg?w=2000"
          alt="logo"
        />
      </nav>
    </div>
    <div class="column2">
      <p>
        Own your dream car with car loans from Shree Ganesh Finance. Whether
        it's a hatchback, sedan, MUV, SUV, sports car, or luxury car, we offer
        up to 90% financing and attractive interest rates to salaried employees,
        businessmen, professionals, corporates, NRIs, and PIOs. Give us a missed
        call at 846 700 1133 to get started!
      </p>
    </div>
  </div>
</div>
