.gradient-custom {
 

    background: -webkit-linear-gradient(left, #dafffd, #51f0e8);
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  
  .card{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.541);
  }