#body {
  font-family: "Nunito";

  background: -webkit-linear-gradient(left, #dafffd, #51f0e8);
}
#login-card {

  width: 350px;
  margin: 0px auto;
  background: #edfffe;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534) ;
}

#email {
  border-radius: 30px;
  background-color: #ebf0fc;
  border-color: #ebf0fc;
  color: #9da3b0;
}

#button {
  border-radius: 30px;
}

#btn {
  position: absolute;
  bottom: -35px;
  padding: 5px;
  margin: 0px 55px;
  align-items: center;
  border-radius: 5px;
}
#container {
  margin-top: 25px;
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 2px 0px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;

  margin: 8px;
}
body{
    padding-top: 30px;
}
h1{
    text-anchor: start;
}