<div class="text-center div1">
  <h1>Sanction Letter For Signature</h1>
</div>
<div class="container">
  <table class="table table-striped" style="text-align: center;">
    <tbody>
      <tr>
        <th>CUSTOMERId</th>
        <th>CUSTOMER NAME</th>
        <th>RATE OF INTREST</th>
        <th>MOBILE NUMBER</th>
        <th>STATUS</th>
        <th>Action</th>
      </tr>
  

    <tr *ngFor="let d of customerdata">
      <td>{{ d.customerId }}</td>
      <td>{{ d.customerFirstName }}</td>
      <td>{{ d.customerSanctionLetter.rateOfInterest }}</td>
      <td>{{ d.customerMobileNumber }}</td>
      <td>{{ d.customerStatus }}</td>
      <td>
        <button  class="btn-outline-success"
          (click)="
            changecustomerstatusapprove(
              d.customerId,
              'SanctionLetterSignByCustomer'
            )
          "
        >
          Sign
        </button>
        <button  class="btn-outline-danger"
        (click)="
          changecustomerstatusreject(
            d.customerId,
            'SanctionLetterNotSignByCustomer'
          )
        "
      >
        Not sign
      </button>
      </td>
    </tr>
  </tbody>
  </table>
</div>
