
<div class="text-center div1">
  <h1>Eligible customer For Sanction Letter</h1>
</div>

<!-- <p>verifydetails works!</p>


<div class="alert alert-secondary text-center"><h1>Customer Database</h1></div>
<div class="container">
<table class="table table-striped">
<tbody>
<th>customerId</th>
<th>customerFirstName</th>
<th>customerLastName</th>
<th>customerMobileNumber</th>
<th>professionId</th>
<th>STATUS</th>


<tr *ngFor="let d of customerdata">
    <td>{{d.customerId}}</td>
    <td>{{d.customerFirstName}}</td>
    <td>{{d.customerLastName}}</td>
    <td>{{d.customerMobileNumber}}</td>
    <td>{{d.customerProfession.professionId}}</td>
    <button (click)="singlecustomeralldata(d)">Generate Sanction letter</button>
    <td >

   </td>
    
  
</tr>
</tbody>
</table>
</div> -->

<!-- <nav class="navbar" >
    <input class="form-control" type="text" name="customerFirstName" [(ngModel)]="customerdata" >

</nav>
<table class="table table-striped">
<thead>
<th>customerId</th>
<th>customerFirstName</th>
<th>customerLastName</th>
<th>customerMobileNumber</th>
<th>professionId</th>
<th>STATUS</th>
</thead>

<tbody>

<tr *ngFor="let d of customerdata">
    <td>{{d.customerId}}</td>
    <td>{{d.customerFirstName}}</td>
    <td>{{d.customerLastName}}</td>
    <td>{{d.customerMobileNumber}}</td>
    <td>{{d.customerProfession.professionId}}</td>
    <button (click)="singlecustomeralldata(d)">Generate Sanction letter</button>
    <td >

   </td>
    
  
</tr>
</tbody>
</table>
</div>  -->



<!-- <mat-form-field  appearance="fill">
<mat-label>Filter Table</mat-label>
<input matInput placeholder=""search>
</mat-form-field>
<div>
<table mat-table matSort [dataSource]="dataSource">
<ng-container matColumnDef="customer id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</th>
    <td mat-cell *matCellDef="let row">{{row.customerid}}</td>
</ng-container>
<ng-container matColumnDef="customer FirstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer First Name </th>
    <td mat-cell *matCellDef="let row">{{row.customerFirstName}}</td>
</ng-container>
<ng-container matColumnDef="customer LastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Last Name</th>
    <td mat-cell *matCellDef="let row">{{row.customerLirstName}}</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
</table>

</div> -->


<div class="mat-elevation-z8">
 
<mat-form-field>

    <mat-label class="label">Filter</mat-label>
    <input matInput [(ngModel)]="searchText" placeholder="filter" (keyup)="Filterchange()">
</mat-form-field>

    <table class="table"  mat-table matSort [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="customerId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Customer Id</th>
        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="customerFirstName">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{element.customerFirstName}}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="customerLastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.customerLastName}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="customerMobileNumber">
        <th mat-header-cell *matHeaderCellDef>Mobile No</th>
        <td mat-cell *matCellDef="let element"> {{element.customerMobileNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="action"  class="example-button-row">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"><button  mat-raised-button color="primary" (click)="singlecustomeralldata(element)">Sanction Letter</button> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
